/* Skills.css */
.skills {
    padding: 2rem;
    text-align: center;
  }
  
  .skills h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
.myimg{
  height: 30%;
  width: 30%;
}

.myimg:hover{
  transform: scale(1.1);
  background-color: rgba(82, 182, 90, 0.41);
}


.box:hover{
  background-color: rgba(82, 182, 90, 0.7);
  border-radius: 2px;
}

